.letterbox {
    font-family: arial, sans-serif;
    color: white !important;
    font-size: 24px;
    font-weight: bold;
}

#words-grid {
    margin: 0 auto 0 auto;
    width: 400px;
    border: thin solid #ddd;
    padding-bottom: 35px;
    padding-top: 25px;
}
